a {
  cursor: pointer;
}

.header-container {
  /* alignment */
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: var(--width);
}

.links {
  /* alignment */
  display: flex;
  flex-direction: row;
  margin: 0 1rem 0 0;
}

.contact-info-item {
  /* alignment */
  display: flex;
  flex-direction: row;
  align-items: center;

  padding: 0.5em;
}
