.mesection {
    height: 850px;
    background-color: #f1faee;
    
}

.ul-group {
    list-style-type: none;
    place-self: 'center';
}

.card-div{
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
  
    gap: 3em;
    grid-auto-flow: column;
}

.card-seperator{
    width: 50%;
    margin: 0 auto;
    border-bottom: 1px solid grey;
    padding-top: 2.5em;
}



* {
    margin: 0;
}

.li-item-me-section {
    padding: 0.3em;
}


.fishing-image {
    width: 350px;
    clip-path: circle();
}


@media only screen and (max-width: 768px) {
    .card-div{
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
      
        gap: 1px;
        grid-auto-flow: row;
    
        padding-top: 1em;
    }

    .mesection {
        height: 1200px;
        background-color: #f1faee;
    }

    .lutLogo {
        order: 1;
    }

    .fishing-image {
        width: 95%;
        clip-path: circle();
    }

    .ul-group{
        padding-left: unset;
    }
}