.link {
    text-decoration: none;
    display: inline;
    padding: 20px 20px 20px 20px;
    font-weight: 700;
    font-size: large;
    cursor: pointer;
  }

.navbar {
    height: 60px;
    background-color: #1d3557;
  }