.projects-section {
    min-height: 1050px;
    max-height: 100%;
    background-color: #a8dadc;
    padding-top: 0.3em;
    display: flex;
    flex-direction: column;
    /* justify-content: center;  */
    align-content: center;
    align-items: center;
}


.logo-image {
    height: 150px;
    padding-bottom: 0.5em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    overflow: hidden;
    height: 100%;
    min-height: 990px;
    width: 100%;
}

.card-project{
    background-color: #f1faee;
    padding: 3rem 5rem;
    max-width: 100%;
    max-height: 100%;
    min-height: 300px;
    margin-top: 1.5em;
    flex-basis: 30%;
    margin-bottom: 3em;
}

.card-expand {
    width: 30rem;
    max-width: 100%;
    max-height: 100%;
}


/* .card-div {
    cursor: pointer;
}



.card-div:hover .logo-image {
    animation-name: fade-img;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  } */




@keyframes fade-img {
    100% {
        transform: scale(1.1)
    }
}

@media only screen and (max-width: 1000px) {
    .projects-container {
        min-height: 2300px;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        flex-wrap: nowrap;
    }

    .logo-image {
        height: 90px;
    }

    .card-project {
        max-width: 95%;
        min-height: 150px;
    }
}