.projects-section {
    min-height: 1150px;
    max-height: 100%;
    background-color: #a8dadc;
    padding-top: 0.3em;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}


.logo-image {
    height: 150px;
    padding-bottom: 0.5em;
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    gap: 2em;
    overflow: hidden;
    height: 100%;
    min-height: 1275px;
    width: 100%;
}

.card-project{
    background-color: #f1faee;
    padding: 3rem 5rem;
    width: 100%;
    max-height: 100%;
    min-height: 300px;
    margin-top: 1.5em;
    flex-basis: 30%;
    margin-bottom: 3em;
    cursor: pointer;
}

.card-expand {
    width: 30rem;
    max-width: 100%;
    max-height: 100%;
}




/* .card-div:hover .logo-image {
    animation-name: fade-img;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  } */

a {
    background: linear-gradient(0deg,  #457b9d,  #457b9d) no-repeat right bottom / 0 var(--bg-h);
    transition: background-size 350ms;
    --bg-h: 100%;
    line-height: 1;
    
}
a:where(:hover, :focus-visible) {
    background-size: 100% var(--bg-h);
    background-position-x: left;
}

.underline_link {
    padding-bottom: 2px;
    --bg-h: 2px;
    text-decoration: none;
    color: #e63946;
}

a:hover {
    color:   #457b9d !important;
}
a:visited {
    color:#F8C9CD;
}


@keyframes fade-img {
    100% {
        transform: scale(1.1)
    }
}

@media only screen and (max-width: 1000px) {
    .projects-container {
        min-height: 2300px;
        flex-direction: column;
        justify-content: unset;
        align-items: center;
        flex-wrap: nowrap;
    }

    .logo-image {
        height: 90px;
    }

    .card-project {
        width: 95%;
        min-height: 150px;
    }
}