.container-content a {
  font-size: 16px; /* Initial font size */

  text-decoration: none;

  color: var(--grey) !important;
  background: linear-gradient(
      to bottom right,
      var(--blue) 0%,
      var(--purple) 25%,
      var(--red) 50%,
      var(--purple) 75%,
      var(--blue) 100%
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size:
    100% 2px,
    0 2px;

  background-position:
    100% 100%,
    0 100%;
  background-repeat: no-repeat;

  cursor: pointer;

  border-image-slice: 1;
  transition:
    background-size 400ms,
    font-size 400ms,
    color 400ms;
}

.container-content a:hover {
  font-size: 17px; /* Font size on hover */
  background-size:
    0 2px,
    100% 2px;
  color: var(--white) !important;
}
