.mesection {
    height: 100%;
    background-color: #f1faee;
    
}

.ul-group {
    list-style-type: none;
    text-align:center;
    padding: 0;
    margin: 0;
}

.card-div{
    display: grid;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 3em;
    grid-auto-flow: column;
    width: 100%;
}

.card-seperator{
    max-width: 50%;
    min-width: 650px;
    margin: 0 auto;
    border-bottom: 1px solid grey;
    padding-top: 2.5em;
}

.cards-div-me-section {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

* {
    margin: 0;
}

.li-item-me-section {
    padding: 0.3em;
}

.li-item-me-section-before-nest {
    padding: 0.3em;
    padding-bottom: 0em;
}

.li-item-me-section-inside-nest {
    padding: 0.3em;
    padding-left: 1em;
}


.fishing-image {
    width: 350px;
    clip-path: circle();
}


@media only screen and (max-width: 768px) {
    .card-div{
        display: grid;
        justify-content: center;
        align-content: center;
        justify-items: center;
      
        gap: 1px;
        grid-auto-flow: row;
    
        padding-top: 1em;
    }

    .mesection {
        height: 1200px;
        background-color: #f1faee;
    }

    .lutLogo {
        order: 1;
    }

    .fishing-image {
        width: 300px;
        clip-path: circle();
    }

    .ul-group{
        padding-left: unset;
    }

    .card-seperator {
        min-width: 50%;
    }
}